form{
    display: flex;
    flex-direction: column;
    width:50vw;
    /* height:30vh; */

}


form input{
    height:12vh;
    margin: 10px 6px;
    text-align: center;
    border: 3px solid black;
}

form button{
    /* color: burlywood; */
    background-color:greenyellow;
    height: 10vh;
    cursor: pointer;
    border: 2px solid black
}

.formContainer{

    margin-left: 20vw;
    margin-right: 20vw;

}

.formContainer h1{
    text-align: center;
}